html,body{height:99%}

.page {
    height: 100%;
    overflow: hidden;
}

.fr {
    float: right;
}

.full-height {
    height: 90%;
}

.debug-panel {
    min-height: 20px;
    background-color: #ccc;
    padding: 5px;
    margin: 5px;
    border: 3px solid orangered;
}

.jsoneditor-input {
    width: 95%;
    display: inline-block;
}

.jsoneditor-set {
    width: 4%;
    float: right;
}