
.login-container {
    width: 75%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.login-container form {
    margin-top: 25px;
}

.login-container h1 {
    text-align: center;
}
.login-container h3 {
    text-align: center;
}

.login-container h4 {
    text-align: center;
}

.login-container img {
    width: 90%;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.login-container .not-you {
    margin-top: 5px;
}

.login-container h5 {
    text-align: center;
    color: red;
}