.manager-employee-list {
    height: 100%;
    bottom: 0px;
    overflow-y: auto;
}

.save-status-table {
    margin-bottom: -10px;
    margin-top: 10px;
    background-color: #eee;
}

a.active .save-status-table {
    background-color: #bdbdbd;
}

.selected td {
    background-color: #B7C8D6;
}
td.selected {
    background-color: #E5EDF5;
}

.save-status-table td {
    text-align: center;
}

.save-status-table .glyphicon-minus-sign {
    color: #E01B1B;
}

.save-status-table .glyphicon-ok-sign {
    color: #528C1B;
}

.manager-employee-list .list-group {
    margin-top: 5px;
}

.head-room {
    margin-top: 5px;
}

.profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}