.timesheet-container {
    width: 100%;
    height: 100%;
}

.timesheet-container .navbar-default {
    background-color: #ededed;
}

.timesheet-container td.center {
    text-align: center;
}

.timesheet-container th {
    text-align: center;
}

.timesheet-container tr.hours td span {
    padding: 10px;
    line-height: 2;
}
.timesheet-container tr.details td span {
    padding-left: 12px;
}

.hours .center a.glyphicon-remove-sign {
    float: right;
    margin-top: -10px;
    margin-right: 5px;
    color: red;
    display: inline-block;
}

a.glyphicon-warning-sign {
    float: left;
    margin-left: 10px;
}

.loading-pane {
    text-align: center;
    margin-top: 75px;
}

.details .center a.glyphicon-remove-sign {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    color: red;
    display: inline-block;
}


.timesheet-editor .title-bar {
    background-color: #ededed;
}

.timesheet-editor input.ng-dirty {
    background-color: #ededff;
}

.timesheet-editor td.total {
    min-width: 80px;
}

.timesheet-editor tr.unsaved {
    background-color: #ededff;
}

.timesheet-editor .navbar-nav.navbar-left {
    margin-left: 10px;
}

.timesheet-editor .navbar-nav.navbar-left li {
    padding-right: 5px;
}

.timesheet-editor .navbar-nav.navbar-right {
    margin-right: 10px;
}

.timesheet-editor .navbar-nav.navbar-right li {
    padding-right: 5px;
}
.timesheet-editor .menu {
    margin-bottom: -20px;
}

.timesheet-editor .user-image {
    border-radius: 10px;
    height: 44px;
    width: 44px;
    margin-top: 3px;
    margin-bottom: 3px;
}
