﻿<div class="timesheet-editor">
    <div class="visible-lg visible-md visible-sm menu">
        <nav class="navbar navbar-default title-bar">
            <div class="container-fluid">
                <!-- Buttons to add entry by Type-->
                <ul class="nav navbar-nav navbar-left">
                    <li ng-show="types.job">
                        <button type="button" class="btn btn-default navbar-btn hidden-sm" ng-click="add.job()">Job</button>
                        <button type="button" class="btn btn-default navbar-btn visible-sm btn-sm" ng-click="add.job()">Job</button>
                    </li>
                    <li ng-show="types.service">
                        <button type="button" class="btn btn-default navbar-btn hidden-sm" ng-click="add.service()">Service</button>
                        <button type="button" class="btn btn-default navbar-btn visible-sm btn-sm" ng-click="add.service()">Service</button>
                    </li>
                    <li ng-show="types.rental">
                        <button type="button" class="btn btn-default navbar-btn hidden-sm" ng-click="add.rental()">Rental</button>
                        <button type="button" class="btn btn-default navbar-btn visible-sm btn-sm" ng-click="add.rental()">Rental</button>
                    </li>
                    <li ng-show="types.shop">
                        <button type="button" class="btn btn-default navbar-btn hidden-sm" ng-click="add.shop()">Shop</button>
                        <button type="button" class="btn btn-default navbar-btn visible-sm btn-sm" ng-click="add.shop()">Shop</button>
                    </li>
                    <li ng-show="types.holiday">
                        <button type="button" class="btn btn-default navbar-btn hidden-sm" ng-click="add.holiday()">Holiday</button>
                        <button type="button" class="btn btn-default navbar-btn visible-sm btn-sm" ng-click="add.holiday()">Holiday</button>
                    </li>
                    <li ng-show="types.holiday">
                        <button type="button" class="btn btn-default navbar-btn hidden-sm" ng-click="add.personal()">Personal</button>
                        <button type="button" class="btn btn-default navbar-btn visible-sm btn-sm" ng-click="add.personal()">Personal</button>
                    </li>
                </ul>

                <!-- Other Buttons -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <img class="user-image" ng-src="/profiles/pictures/{{currentEmployee.username}}.jpg"  err-src="/profiles/pictures/generic.gif"/>
                        <p class="navbar-text">{{currentEmployee.lastName + ', ' + currentEmployee.firstName}}</p>
                    </li>
                    <li ng-if="feature.save">
                        <button type="button" class="btn btn-primary navbar-btn hidden-sm" ng-click="save()">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                            Save
                        </button>
                        <button type="button" class="btn btn-primary navbar-btn visible-sm btn-sm" ng-click="save()">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                            Save
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-warning navbar-btn hidden-sm" ng-click="adjustment()">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Adjustment
                        </button>
                        <button type="button" class="btn btn-warning navbar-btn visible-sm btn-sm" ng-click="adjustment()">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Adjustment
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-default navbar-btn hidden-sm" ng-click="currentEmployee.logout()">
                            <span class="glyphicon glyphicon-off"></span>
                            Logout
                        </button>
                        <button type="button" class="btn btn-default navbar-btn visible-sm btn-sm" ng-click="currentEmployee.logout()">
                            <span class="glyphicon glyphicon-off"></span>
                            Logout
                        </button>
                    </li>
                    <li ng-if="feature.import">
                        <button type="button" class="btn btn-default navbar-btn hidden-sm" ng-click="import()">
                            <span class="glyphicon glyphicon-import"></span>
                            Import
                        </button>
                        <button type="button" class="btn btn-default navbar-btn visible-sm btn-sm" ng-click="import()">
                            <span class="glyphicon glyphicon-import"></span>
                            Import
                        </button>
                    </li>
                    <li ng-if="feature.export">
                        <button type="button" class="btn btn-default navbar-btn hidden-sm" ng-click="export()">
                            <span class="glyphicon glyphicon-export"></span>
                            Export
                        </button>
                        <button type="button" class="btn btn-default navbar-btn visible-sm btn-sm" ng-click="export()">
                            <span class="glyphicon glyphicon-export"></span>
                            Export
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="visible-xs">
        <nav class="navbar nav-default title-bar mobile">
            <div class="container-fluid">
                <!-- -->
            </div>
        </nav>
    </div>
    <timesheet entries="originalEntries" modified="modifiedEntries" options="options"></timesheet>



    <!-- DEBUG PANEL START -->
    <div class="debug-panel" ng-show="debugging">
        <h4>Debug Controls</h4>
        <form class="form-inline">
           <div class="form-group">
               <label for="debug_activeDay">Active Day:</label>
               <input class="form-control" id="debug_activeDay" ng-model="options.activeDay" type="text"/>
           </div>
           <div class="form-group">
               <label for="debug_canEdit">Can Edit:</label>
               <input id="debug_canEdit" ng-model="options.canEdit" type="checkbox"/>
           </div>
        </form>
    </div>
    <!-- DEBUG PANEL END -->
</div>