﻿<div class="page">
    <div class="login-container">
        <h1 class="hidden-xs">TimeTrack Login</h1>
        <h3 class="visible-xs">TimeTrack Login</h3>

        <div class="well" ng-show="!login.noSticky">
            <h4 ng-show="sticky.firstName != null && sticky.lastName != null">Hello <b>{{sticky.firstName + ' ' + sticky.lastName}}</b>!</h4>
            <img class="user-image" ng-src="/profiles/pictures/{{sticky.username}}.jpg" err-src="/profiles/pictures/generic.jpg"/>
            <button class="btn btn-block btn-sm btn-default not-you" ng-click="sticky.notYou()">Not You?</button>
            <button class="btn btn-block btn-lg btn-primary" ng-click="sticky.login()">Login</button>
        </div>

        <form ng-show="login.noSticky">
            <div class="form-group">
                <label for="login_username_desktop">Username:</label>
                <input id="login_username_desktop" ng-model="login.username" type="text" class="form-control" ng-class="{'invalid-username': $scope.login.invalidUsername}" ng-change="login.validateUsername()"/>
            </div>
            <div class="form-group">
                <label for="login_password_desktop">Password:</label>
                <input id="login_password_desktop" ng-model="login.password" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <label for="login_rememberme_desktop">Remember Me:</label>
                <input id="login_rememberme_desktop" ng-model="login.rememberme" type="checkbox" />
                <br>
                <i ng-show="login.rememberme">Don't use on shared computers</i>
            </div>
            <div class="form-group">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button class="btn btn-primary" ng-click="login.submit()">Login</button>
                    </div>
                </div>
            </div>
        </form>
        <h5 ng-show="login.hasError">{{login.errorMessage}}</h5>
    </div>
    <!-- after .login-container -->
</div>
<!-- after .page -->