﻿<div class="page">
    <div class="row manager-nav">
        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button class="btn" ng-click="view.setView('dashboard')" ng-class="{'btn-default': !view.dashboard, 'btn-primary': view.dashboard}">Dashboard</button>
            </div>
            <div class="btn-group">
                <button class="btn" ng-click="view.setView('options')" ng-class="{'btn-default': !view.options, 'btn-primary': view.options}">Options</button>
            </div>
            <div class="btn-group">
                <button class="btn" ng-disabled="!view.employeeSelected" ng-click="view.setView('timesheet')" ng-class="{'btn-info': !view.timesheet, 'btn-primary': view.timesheet}">Timesheet</button>
            </div>
            <div class="btn-group">
                <button class="btn" ng-disabled="!view.employeeSelected" ng-click="view.setView('logins')" ng-class="{'btn-info': !view.logins, 'btn-primary': view.logins}">Logins</button>
            </div>
            <div class="btn-group">
                <button class="btn" ng-disabled="!view.employeeSelected" ng-click="view.setView('backups')" ng-class="{'btn-info': !view.backups, 'btn-primary': view.backups}">Backups</button>
            </div>
        </div>
    </div>
    <div class="col-xs-3 full-height">
        <div class="manager-employee-list">
            <div class="list-group">
                <a ng-click="employee.select(emp.EmployeeId)" class="list-group-item" ng-repeat="emp in employee.list | orderBy:'LastName'" ng-class="{'active': employee.id == emp.EmployeeId}">
                    <span class="badge">{{emp.Total}}</span>
                    <h5 class="list-group-item-heading">{{ emp.LastName + ', ' + emp.FirstName}}</h5>
                    <p class="list-group-item-text">
                        <table class="table table-bordered save-status-table" ng-show="emp.DailySaveRequired">
                            <tr>
                                <td>
                                    <span ng-show="emp.Monday > 0" class="glyphicon glyphicon-ok-sign"></span>
                                    <span ng-show="emp.Monday == 0" class="glyphicon glyphicon-minus-sign"></span>
                                    <span ng-show="emp.Monday == null" class="glyphicon"></span>
                                </td>
                                <td>
                                    <span ng-show="emp.Tuesday > 0" class="glyphicon glyphicon-ok-sign"></span>
                                    <span ng-show="emp.Tuesday == 0" class="glyphicon glyphicon-minus-sign"></span>
                                    <span ng-show="emp.Tuesday == null" class="glyphicon"></span>
                                </td>
                                <td>
                                    <span ng-show="emp.Wednesday > 0" class="glyphicon glyphicon-ok-sign"></span>
                                    <span ng-show="emp.Wednesday == 0" class="glyphicon glyphicon-minus-sign"></span>
                                    <span ng-show="emp.Wednesday == null" class="glyphicon"></span>
                                </td>
                                <td>
                                    <span ng-show="emp.Thursday > 0" class="glyphicon glyphicon-ok-sign"></span>
                                    <span ng-show="emp.Thursday == 0" class="glyphicon glyphicon-minus-sign"></span>
                                    <span ng-show="emp.Thursday == null" class="glyphicon"></span>
                                </td>
                                <td>
                                    <span ng-show="emp.Friday > 0" class="glyphicon glyphicon-ok-sign"></span>
                                    <span ng-show="emp.Friday == 0" class="glyphicon glyphicon-minus-sign"></span>
                                    <span ng-show="emp.Friday == null" class="glyphicon"></span>
                                </td>
                            </tr>
                        </table>
                    </p>
                </a>
            </div>
        </div>
    </div>

    <!-- Start Dashboard View -->
    <div ng-show="view.dashboard" class="col-xs-9 full-height" style="overflow-y: auto;">
        <div class="head-room">
            <!-- Migration Controls -->
            <button class="btn btn-success btn-block">Move Today To GP</button>
        </div>

        <table class="table table-bordered head-room">
            <tr>
                <th>EmployeeId</th>
                <th ng-show="view.showWeekend">Saturday</th>
                <th ng-show="view.showWeekend">Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Total</th>
            </tr>
            <tbody style="overflow-y: auto">
                <tr ng-repeat="emp in employee.list | orderBy:'EmployeeId'" ng-class="{'selected': employee.id == emp.EmployeeId}">
                    <td>
                        <img ng-src="/profiles/pictures/{{emp.EmployeeId}}.jpg" err-src="/profiles/pictures/generic.gif" class="profile-pic"/>
                        <a ng-click="employee.select(emp.EmployeeId)">{{emp.EmployeeId}}</a>
                    </td>
                    <td ng-show="view.showWeekend">{{emp.Saturday}}</td>
                    <td ng-show="view.showWeekend">{{emp.Sunday}}</td>
                    <td ng-class="{'selected': timesheet.options.activeDay == 'Monday'}">{{emp.Monday}}</td>
                    <td ng-class="{'selected': timesheet.options.activeDay == 'Tuesday'}">{{emp.Tuesday}}</td>
                    <td ng-class="{'selected': timesheet.options.activeDay == 'Wednesday'}">{{emp.Wednesday}}</td>
                    <td ng-class="{'selected': timesheet.options.activeDay == 'Thursday'}">{{emp.Thursday}}</td>
                    <td ng-class="{'selected': timesheet.options.activeDay == 'Friday'}">{{emp.Friday}}</td>
                    <td>{{emp.TotalHours}}</td>
                </tr>
            </tbody>
        </table>
        <label for="dash_show_weekend">Show Weekend</label>
        <input id="dash_show_weekend" type="checkbox" ng-model="view.showWeekend" />
    </div>
    <!-- End Dashboard View -->
    <!-- Start Options View -->
    <div ng-show="view.options" class="col-xs-9 full-height">
        <form class="head-room">
            <div class="form-group">
                <label for="opt_delegate_oc">Delegate Office Coordinator</label>
                <input id="opt_delegate_oc" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="opt_send_email">Send Reminder Email</label>
                <input id="opt_send_email" type="checkbox" />
            </div>
            <div class="form-group">
                <label for="opt_email_time">Reminder Email Time</label>
                <input id="opt_email_time" type="text" class="form-control" value="6:30 PM" />
            </div>
            <div class="form-group">
                <label for="opt_email_tmplt">Reminder Email Template</label>
                <input id="opt_email_tmplt" type="text" class="form-control" value="It looks like you haven't saved time for today. Please get that in before 8:00 AM or you won't be able to save easily!" />
            </div>

            <div class="form-group">
                <button class="btn btn-block btn-primary">Save</button>
            </div>
        </form>
    </div>
    <!-- End Options View -->
    <!-- Start Timesheet View -->
    <div ng-show="view.timesheet" class="col-xs-9 full-height" style="padding-top: 5px;">
        <h1 style="color: red;">Put Controls Here For Saving!</h1>
        <timesheet entries="timesheet.entries" modified="timesheet.modified" options="timesheet.options"></timesheet>
    </div>
    <!-- End Timesheet View -->
    <!-- Start Logins View -->
    <div ng-show="view.logins" class="col-xs-9 full-height">
        <span ng-init="logins.load()"></span>
        <ul class="list-group head-room">
            <li class="list-group-item" ng-repeat="login in logins.list">
                {{login.timestamp}}
            </li>
        </ul>
    </div>
    <!-- End Logins View -->
    <!-- Start Backups View -->
    <div ng-show="view.backups" class="col-xs-9 full-height">
        <span ng-init="backups.load()"></span>
        <br/>
        <br/>
        <br/>
        <h1 style="text-align: center; font-size: 40pt;">
            <span class="glyphicon glyphicon-wrench"></span>
            Work In Progress
            <span class="glyphicon glyphicon-wrench"></span>
        </h1>
        <br />
        <p style="text-align: center;">This will show a list of what the selected employee's timesheet looked like every time they saved in the current week.</p>
        <p style="text-align: center;">Once you select a specific save, you will see the same timesheet editor as in the "Timesheet" view.</p>
    </div>
    <!-- End Backups View -->


</div>