<div class="timesheet-container" ng-cloak>
    <div ng-show="view.loading" class="loading-pane">
        <h1>LOADING</h1>
    </div>
    <div ng-show="!view.loading">
        <!-- Full Week -->
        <div class="visible-lg visible-md">
            <table class="table table-bordered table-condensed">
                <!-- =====> Global Table Headers <===== -->
                <tr ng-show="!view.editingDetails">
                    <th>
                        Details
                        <button class="btn btn-xs btn-info fr" ng-click="view.editingDetails = true">Edit</button>
                    </th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                    <th class="hidden-md">Total</th>
                </tr>
                <tr ng-show="view.editingDetails">
                    <th>
                        Hours
                        <button class="btn btn-xs btn-info fr" ng-click="view.editingDetails = false">Edit</button>
                    </th>
                    <th>Type</th>
                    <th>ID</th>
                    <th>Customer</th>
                    <th>Labor</th>
                    <th>Comment</th>
                </tr>
                <!-- =====> Table Row <===== -->
                <tr ng-show="!view.editingDetails" ng-repeat="entry in liveEntries" class="hours">
                    <td class="center">
                        <a ng-show="entry.unsaved" href="" class="glyphicon glyphicon-warning-sign"></a>
                        <a class="hidden-md" ng-click="view.editingDetails = true">{{'[' + (entry.SubType || entry.Type) + ']    ' + entry.Id + ' - ' + entry.Customer }}</a>
                        <a class="visible-md" ng-click="view.editingDetails = true">{{'[' + (entry.SubType || entry.Type) + ']    ' + entry.Id }}</a>
                        <a ng-show="!entry.Frozen" class="glyphicon glyphicon-remove-sign" ng-click="remove($index)"></a>
                    </td>
                    <td>
                        <span ng-show="view.activeDay != 'Monday' || !view.canEdit">{{entry.Monday}}</span>
                        <input ng-show="view.activeDay == 'Monday' && view.canEdit" ng-model="entry.Monday" min="0" max="23" step="0.25" type="number" class="form-control"/>
                    </td>
                    <td>
                        <span ng-show="view.activeDay != 'Tuesday' || !view.canEdit">{{entry.Tuesday}}</span>
                        <input ng-show="view.activeDay == 'Tuesday' && view.canEdit" ng-model="entry.Tuesday" min="0" max="23" step="0.25" type="number" class="form-control" />
                    </td>
                    <td>
                        <span ng-show="view.activeDay != 'Wednesday' || !view.canEdit">{{entry.Wednesday}}</span>
                        <input ng-show="view.activeDay == 'Wednesday' && view.canEdit" ng-model="entry.Wednesday" min="0" max="23" step="0.25" type="number" class="form-control" />
                    </td>
                    <td>
                        <span ng-show="view.activeDay != 'Thursday' || !view.canEdit">{{entry.Thursday}}</span>
                        <input ng-show="view.activeDay == 'Thursday' && view.canEdit" ng-model="entry.Thursday" min="0" max="23" step="0.25" type="number" class="form-control" />
                    </td>
                    <td>
                        <span ng-show="view.activeDay != 'Friday' || !view.canEdit">{{entry.Friday}}</span>
                        <input ng-show="view.activeDay == 'Friday' && view.canEdit" ng-model="entry.Friday" min="0" max="23" step="0.25" type="number" class="form-control" />
                    </td>
                    <td>
                        <span ng-show="view.activeDay != 'Friday' || !view.canEdit">{{entry.Saturday}}</span>
                        <input ng-show="view.activeDay == 'Friday' && view.canEdit" ng-model="entry.Saturday" min="0" max="23" step="0.25" type="number" class="form-control" />
                    </td>
                    <td>
                        <span ng-show="view.activeDay != 'Friday' || !view.canEdit">{{entry.Sunday}}</span>
                        <input ng-show="view.activeDay == 'Friday' && view.canEdit" ng-model="entry.Sunday" min="0" max="23" step="0.25" type="number" class="form-control" />
                    </td>
                    <td class="hidden-md total">
                        <span>{{view.getTotal(entry)}}</span>
                    </td>
                </tr>
                <tr ng-show="view.editingDetails" ng-repeat="entry in entries" class="details" ng-class="{'unsaved': entry.unsaved}">
                    <td class="center">
                        <a ng-click="view.editingDetails = false">{{view.getTotal(entry)}}</a>
                        <a ng-show="!entry.Frozen" class="glyphicon glyphicon-remove-sign" ng-click="remove($index)"></a>
                    </td>
                    <td class="center">{{entry.Type}}</td>
                    <!-- Entry has been saved already, lock it -->
                    <td ng-show="entry.Frozen">
                        <span>{{entry.Id}}</span>
                    </td>
                    <td ng-show="entry.Frozen">
                        <span>{{entry.Customer}}</span>
                    </td>
                    <td ng-show="entry.Frozen">
                        <span>{{entry.SubType}}</span>
                    </td>
                    <td ng-show="entry.Frozen">
                        <span>{{entry.Note}}</span>
                    </td>
                    <!-- Entry has not been saved yet -->
                    <td ng-show="!entry.Frozen">
                        <!-- TODO: Add auto-completion support for each type -->
                        <input type="text" ng-model="entry.Id" class="form-control" ng-show="entry.Type == 'Job'"
                               typeahead="job.Id as (job.Id + ' - ' + job.Description) for job in autocomplete.jobs | filter:$viewValue | limitTo:8" typeahead-editable="true"/>
                        <input type="text" ng-model="entry.Id" class="form-control" ng-show="entry.Type == 'Service'"
                               typeahead="service.Id as (service.Id + ' - ' + service.Description) for service in autocomplete.service | filter:$viewValue | limitTo:8" typeahead-editable="true"/>
                        <input type="text" ng-model="entry.Id" class="form-control" ng-show="entry.Type == 'Rental'"
                               typeahead="Id as Id for Id in autocomplete.rental | filter:$viewValue | limitTo:8" typeahead-editable="true"/>
                    </td>
                    <td ng-show="!entry.Frozen">
                        <input type="text" ng-model="entry.Customer" class="form-control" ng-show="(['Job', 'Service', 'Rental']).indexOf(entry.Type) > -1"/>
                    </td>
                    <td ng-show="!entry.Frozen">
                        <select type="text" ng-model="entry.SubType" class="form-control" ng-options="code.value as code.label for code in laborCodes[entry.Type]"></select>
                    </td>
                    <td ng-show="!entry.Frozen">
                        <input type="text" ng-model="entry.Note" class="form-control" />
                    </td>
                </tr>
            </table>
        </div>

        <!-- 5 Days TODO: update with newest stuff from above-->
        <div class="visible-sm">
            <table class="table table-bordered table-condensed">
                <!-- =====> Global Table Headers <===== -->
                <tr ng-show="!view.editingDetails">
                    <th>
                        Details
                        <button class="btn btn-xs btn-info fr" ng-click="view.editingDetails = true">Edit</button>
                    </th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
                <tr ng-show="view.editingDetails">
                    <th>
                        Hours
                        <button class="btn btn-xs btn-info fr" ng-click="view.editingDetails = false">Edit</button>
                    </th>
                    <th>ID</th>
                    <th>Customer</th>
                    <th>Labor</th>
                    <th>Comment</th>
                </tr>
                <!-- =====> Table Row <===== -->
                <tr ng-show="!view.editingDetails" ng-repeat="entry in liveEntries" class="hours" ng-class="{'unsaved': entry.unsaved}">
                    <td class="center">
                        <a ng-click="view.editingDetails = true">{{'[' + entry.Type + ']    ' + entry.Id }}</a>
                        <a ng-show="!entry.Frozen" class="glyphicon glyphicon-remove-sign" ng-click="remove($index)"></a>
                    </td>
                    <td>
                        <span ng-show="view.activeDay != 'Monday' || !view.canEdit">{{entry.Monday}}</span>
                        <input ng-show="view.activeDay == 'Monday' && view.canEdit" ng-model="entry.Monday" min="0" max="23" step="0.25" type="number" class="form-control"/>
                    </td>
                    <td>
                        <span ng-show="view.activeDay != 'Tuesday' || !view.canEdit">{{entry.Tuesday}}</span>
                        <input ng-show="view.activeDay == 'Tuesday' && view.canEdit" ng-model="entry.Tuesday" min="0" max="23" step="0.25" type="number" class="form-control" />
                    </td>
                    <td>
                        <span ng-show="view.activeDay != 'Wednesday' || !view.canEdit">{{entry.Wednesday}}</span>
                        <input ng-show="view.activeDay == 'Wednesday' && view.canEdit" ng-model="entry.Wednesday" min="0" max="23" step="0.25" type="number" class="form-control" />
                    </td>
                    <td>
                        <span ng-show="view.activeDay != 'Thursday' || !view.canEdit">{{entry.Thursday}}</span>
                        <input ng-show="view.activeDay == 'Thursday' && view.canEdit" ng-model="entry.Thursday" min="0" max="23" step="0.25" type="number" class="form-control" />
                    </td>
                    <td>
                        <span ng-show="view.activeDay != 'Friday' || !view.canEdit">{{entry.Friday}}</span>
                        <input ng-show="view.activeDay == 'Friday' && view.canEdit" ng-model="entry.Friday" min="0" max="23" step="0.25" type="number" class="form-control" />
                    </td>
                </tr>
                <tr ng-show="view.editingDetails" ng-repeat="entry in entries" class="details" ng-class="{'unsaved': entry.unsaved}">
                    <td class="center">
                        <a ng-click="view.editingDetails = false">{{view.getTotal(entry)}}</a>
                        <a ng-show="!entry.Frozen" class="glyphicon glyphicon-remove-sign" ng-click="remove($index)"></a>
                    </td>
                    <!-- Entry has been saved already, lock it -->
                    <td ng-show="entry.Frozen">
                        <span>{{entry.Id}}</span>
                    </td>
                    <td ng-show="entry.Frozen">
                        <span>{{entry.Customer}}</span>
                    </td>
                    <td ng-show="entry.Frozen">
                        <span>{{entry.SubType}}</span>
                    </td>
                    <td ng-show="entry.Frozen">
                        <span>{{entry.Note}}</span>
                    </td>
                    <!-- Entry has not been saved yet -->
                    <td ng-show="!entry.Frozen">
                        <!-- TODO: Add auto-completion support for each type -->
                        <input type="text" ng-model="entry.Id" class="form-control" ng-show="entry.Type == 'Job'"/>
                        <input type="text" ng-model="entry.Id" class="form-control" ng-show="entry.Type == 'Service'"/>
                        <input type="text" ng-model="entry.Id" class="form-control" ng-show="entry.Type == 'Rental'"/>
                    </td>
                    <td ng-show="!entry.Frozen">
                        <input type="text" ng-model="entry.Customer" class="form-control" ng-show="(['Job', 'Service', 'Rental']).indexOf(entry.Type) > -1"/>
                    </td>
                    <td ng-show="!entry.Frozen">
                        <select type="text" ng-model="entry.SubType" class="form-control" ng-options="code.value as code.label for code in laborCodes[entry.Type]">

                        </select>
                    </td>
                    <td ng-show="!entry.Frozen">
                        <input type="text" ng-model="entry.Note" class="form-control" />
                    </td>
                </tr>
            </table>
        </div>

        <!-- 1 Day -->
        <div class="visible-xs">
            <div class="visible-xs">
                <!-- List of Entries -->
                <div ng-show="!mobile.entrySelected">
                    <form>
                        <div class="form-group"
                    </form>
                </div>
                <!-- Enter hours in a specific entry -->
                <div ng-show="mobile.entrySelected">

                </div>
            </div>
        </div>
    </div>

    <!-- START DEBUG PANEL -->
    <div class="debug-panel" ng-show="debugging">
        <form>
            <div class="form-group">
                <json-editor model="entries" />
            </div>
        </form>
    </div>
    <!-- END DEBUG PANEL -->
</div>